<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <title>访问统计</title>
</head>
<body>

<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
<div id="main" style="width: 600px;height:400px;"></div>

</body>

<script type="text/javascript" src="{% static "jquery-1.9.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "echarts.min.js" %}"></script>
<script type="text/javascript">
    var key = '{{ key|safe }}';
    var key = JSON.parse(key);

    var val = '{{ val|safe }}';
    var val = JSON.parse(val);

    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    // 指定图表的配置项和数据
    var option = {
        title: {
            text: '访问所属区域分布图'
        },
        tooltip: {},
        legend: {
            data: ['城市']
        },
        xAxis: {
            data: key
        },
        yAxis: {},
        series: [{
            name: '访问量',
            type: 'bar',
            data: val
        }]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);

</script>
</html>