<html>
<head>
    <title>小冰截图机器人</title>
    {% load staticfiles %}
    <link href="{% static "bootstrap-jq/css/bootstrap.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap-jq/css/common.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap-jq/css/flat-ui.min.css" %}"/>
    <link rel="stylesheet" href="{% static "bootstrap-jq/css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "bootstrap-jq/css/ace.min.css" %}"/>
    <link rel="stylesheet" href="{% static "bootstrap-jq/css/fonts.googleapis.com.css" %}"/>
    <link rel="stylesheet" href="{% static "user-defind/user-defined.css" %}"/>

    <style type="text/css">
        body {
            font-size: 35px;
        }

        .label {
            line-height: 1.15;
            height: 57px;
        }
    </style>
</head>
<body class="container-fluid" style="text-align: center">
<div style="padding: 25px">

    <div style="padding: 25px">
        <span class="label label-primary label-large"><p>
    <span style="font-size: 24px;"><strong style="white-space: normal;"><span
            style="color: rgb(255, 255, 255); font-family: &quot;Open Sans&quot;; text-align: center; background-color: rgb(66, 139, 202);">小兵截图机器人</span></strong></span>
</p></span>
    </div>
    <span class="label label-success label-large"><p>
    <span style="color: rgb(255, 255, 255); font-family: &quot;Open Sans&quot;; text-align: center; background-color: rgb(130, 175, 111); font-size: 36px;">个人学习测试</span>
</p></span>

</div>


</body>
</html>